<ion-content>
  <div class="fondo">
    <div class="contenedor" id="contenedor">
      <h1>bienvenido : {{ nombreUsuario }}</h1>
      <div class="containerLogo">
        
        <ion-icon src="/assets/Logo.svg" id="logo">src</ion-icon>
        <ion-icon src="/assets/{{icono}}.svg" id="tema-claro" (click)="cambiarTema()"></ion-icon>
      </div>

      <h1>Asistencia Duoc</h1>
              <!--boton para escanear qr -->
      <div class="scanner">
        <span>Leer QR</span>
        <ion-button class="botones" size="small" color="warning" (click)="scan()">
          <ion-icon name="play"></ion-icon></ion-button>
      </div>


       <div class="recargar">
        <ion-button class="recarga" size="small" color="warning" (click)="recargar()">
        <ion-icon name="reload"></ion-icon></ion-button>
       </div>
      <ion-list class="Asignaturas">
        <ion-item class="Asignaturas" *ngFor="let item of items; let i = index" class="item-background-color">
          <ul class="Asignaturas">
            <li class="Asignaturas">
              <span class="Asignaturas">{{ item }}</span>
              <ion-button  fill="clear" (click)="toggleInfo(i)" color="warning">
                <ion-icon class="lista" [name]="showInfo[i] ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
              </ion-button>
            </li>
            <ion-item-divider *ngIf="showInfo[i]">
              Asistencia: {{ (conteoAsistencias[item] || 0) }}%
            </ion-item-divider>
          </ul>
        </ion-item>
      </ion-list>


    </div>
  </div>
</ion-content>