:root {
  --fondo: #e8e6e6; 
  --fondo-input: #e8e6e6;
  --icono-tema: #8c8c8c;
  --seccion: #cfcfcf;
  --texto-input: black;
  --ion-color-success: black;
}

ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--fondo);
}

.containerLogo {
  text-align: center;
  margin: 20px;
}

.logo {
  width: 150px; 
}

ion-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.generadorAsistencia {
  width: 90%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc; 
  border-radius: 8px;
  margin: 0 auto 20px auto; 
  background-color: #f9f9f9; 
}

ion-list {
  width: 90%;
  max-width: 500px;
  margin: 0 auto; 
}

.itemContainer {
  width: 100%;
}

.itemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-item {
  text-align: center; 
}

#tema-claro{
  color: var(--icono-tema);
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1.5rem;
}