//:root {
//  --fondo: #e8e6e6;
//  --fondo-input: #e8e6e6;
//  --icono-tema: #8c8c8c;
//  --seccion: #cfcfcf;
//  --texto-input: black;
//  --ion-color-success: black;
//}



.scanner {
  width: 90%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px solid #ffc409;
  border-radius: 8px;
  margin: 0 auto 20px auto;
  background-color:var(--asignaturas);
  color: var(--texto-input);
}

.botones {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  color: var(--texto-input);
}

button {
  height: 2rem;
  width: calc(50% - 5px);
}

.lista {
  color: var(--item-bg);;
}

ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--fondo);
}
.fondo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--fondo-borde);
}

.contenedor {
  background-color: var(--fondo); //este es algo que puedo personalizar dentro de la carpeta theme y variable.scss
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  min-height: 100vh;
  width: 80vw;
  height: 80%;
  text-align: center;
  padding: 5%;
  h1 {
    color: var(--texto-input);
    font-size: 2.5rem;
  }
  ion-icon {
    font-size: 2.5rem;
  }
}

.containerLogo {
  text-align: center;
  margin: 20px;
  z-index: 1;
  ion-icon {
    font-size: 5.5rem;
    color: var(--texto-input);
  }
}

.logo {
  width: 150px;
}

ion-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.generadorAsistencia {
  width: 90%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px solid #ffc409;
  border-radius: 8px;
  margin: 0 auto 20px auto;
  background-color:var(--asignaturas);
  color: var(--texto-input);
}

.Asignaturas {
  width: 100%;
  color: var(--texto-input);
  list-style-type: none;
  padding: 0;
  margin: 0; 
   border-radius: 8px;

}

.Asignaturas li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color:var(--asignaturas);
  border-radius: 8px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.Asignaturas li ion-button {
  --color: var(--texto-input);
}

.item-background-color {
  --ion-item-background:var(--asignaturas);
}

.generadorAsistencia,
ion-list,
ion-item-divider {
  background-color:var(--asignaturas);
  color: var(--texto-input);
}
.Asignaturas{
  background-color: var(--asignaturas);
}
.fondo,
.contenedor,
h1,
p,
ion-icon {
  transition: background-color 0.5s ease, color 0.5s ease;
}

ion-item {
  text-align: center;
}

.recargar {
  width: 100%;
  display: flex;
  justify-content: flex-end; /* Esto alinea el botón a la derecha */

}

.recargar ion-button {
  margin-left: auto; /* Asegura que el botón esté a la derecha */
  height: 30px;
  width: 40px;
}
.recargar ion-icon{
  height: 40px;
  width: 50px;
}

ion-list {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  background-color:var(--asignaturas);
}

.item-background-color {
  --ion-item-background:var(--asignaturas);
}
//transisiones

.fondo {
  transition: background-color 1s ease, color 1s ease;
}
.contenedor,
h1,
p,
ion-icon {
  transition: background-color 0.5s ease, color 0.5s ease;
}

.Asignaturas,
.itemHeader,
.item-background-color,
ion-list,
.generadorAsistencia {
  transition: background-color 0.5s ease, color 0.5s ease;
  transition: --ion-item-background 0.5s ease, color 0.5s ease;
  transition: color 0.5s ease, color 0.5s ease;

  ion-item-divider {
    transition: background-color 0.5s ease, color 0.5s ease;
  }
}
