<ion-content [fullscreen]="true">
  <div class="contenedor">
    <div class="contenedor-imagen">
      <img src="{{imagen}}" alt="">
    </div>
    <div class="botonera">
      <div class="boton">
        <ion-icon name="image"></ion-icon>
        <p>Cambiar foto</p>
      </div>
      <div class="boton" (click)="poneEfecto('grayscale')">
        <ion-icon name="contrast"></ion-icon>
        <p>Blanco y negro</p>
      </div>
      <div class="boton" (click)="poneEfecto('invert')">
        <ion-icon name="invert-mode"></ion-icon>
        <p>Invertir colores</p>
      </div>
      <div class="boton" (click)="poneEfecto('sepia')">
        <ion-icon name="film"></ion-icon>
        <p>Sepia</p>
      </div>
    </div>
    <div class="slider">
      <ion-range aria-label="Range with pin" [pin]="true" [pinFormatter]="pinFormatter" [min]="minimo" [max]="maximo" (ionInput)="onSlide($event)"></ion-range>
    </div>
  </div>
</ion-content>
