// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root{
    --fondo: #dddddd;
    --icono:rgb(175, 3, 255);
    --fondo-input: rgb(56, 54, 54);
    --fondo-button: rgba(25, 9, 247, 0.692);
    --textos:  #070707;
    --icono-tema: rgb(238, 238, 238);
    --ion-color-success: #0084ff;
   
}
