// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root{
    --fondo: #e6e6e6;
    --icono:#000000;
    --fondo-input: rgb(0, 0, 0);
    --fondo-button: #1909f7b0;
    --textos:  #000000;
    --icono-tema: #1909f7b0;
    --ion-color-success: #00ffff;
   
}
