// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root{
    --fondo: #e6e6e6;
    --icono:#000000;
    --fondo-input: #e8e6e6;
    --fondo-button: #1909f7b0;
    --textos:  #000000;
    --icono-tema: #8c8c8c;
    --ion-color-success: #00ffff;
    --seccion:#cfcfcf;
    --texto-input:black;
   
}
