#contenedor{
    min-height: 80vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 6px;
}
.ion-valid.sc-ion-input-md-h {
    --highlight-color: var(--highlight-color-valid);
}