#contenedor {
  background-color: var(--fondo);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  min-height: 100vh;
  width: 80%;
  height: 80%;
}






ion-input {
  width: 100%;
  max-width: 400px;
  margin: 10px 0;
  background-color: var(--fondo-input);
  color: var(--texto-input);
}

.contenedor-input {
  
  width: 100%;
  max-width: 400px;
  position: relative; /* Posiciona el botón del ojo cerca del input */
  
}

.ojo {
  position: absolute;
  left: 360px; /* Alinea el botón a la derecha del campo de contraseña */
  top: 50%; /* Centra el botón verticalmente con el campo de contraseña */
  transform: translateY(-50%); /* Asegura el centrado vertical */
  ion-icon{
    color:var(--texto-input)!important;
  }
}

.iniciar{
  ion-button{
    color:black;
    background: #f0cc00 ;
  }
}

ion-button[type="submit"] {
  margin-top: 20px;
  background-color: var(--fondo-button);
}
.seccion {
  background-color: var(--seccion);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
#contenedor,h1,p{
    transition: background-color .5s ease,color .5s ease ;
}
.ion-valid.sc-ion-input-md-h {
  --highlight-color: var(--ion-color-success:);
}

/*               Modal              */
ion-modal {
  --background: var(--recuperacion); 
  --backdrop-opacity: 0.5;

  
}

.contenedor-modal {
  background-color: var(--recuperacion); 
  color:var(--textos);
  border-radius: 10px; 
  padding: 20px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
  max-width: 90%; 
  margin: auto; 
  display: flex;
  flex-direction: column;
}

ion-modal {
  --background: #1f1f1f; /* Color de fondo oscuro */
  --color: white;        /* Color del texto en blanco */}

/* Estilo del botón dentro del modal */
.contenedor-modal button {
  background-color: #f0cc00; 
  color: #000000; 
  border: none; 
  padding: 10px 15px; 
  border-radius: 5px;   
  cursor: pointer; 
}

/* Estilo del input dentro del modal */
.contenedor-modal input {
  background-color: #333; 
  color: #ffffff;
  border:var(--highlight-color); 
  padding: 10px; 
  border-radius: 5px; 
  width: 100%; 
  margin-top: 10px; 
}

.inner-scroll {
  background-color: var(--recuperacion) !important;

}
.scroll-y {
  background-color: var(--recuperacion)!important;
  overflow-y: var(--overflow);
  overscroll-behavior-y: contain;
}