<ion-content [fullscreen]="true">

  <ion-icon src="/assets/{{icono}}.svg" id="tema-claro" (click)="cambiarTema()"></ion-icon>

  <div id="contenedor">
    <div class="seccion">
      <ion-input [(ngModel)]="usuario" label="Usuario" labelPlacement="floating" fill="outline" [counter]="true"
        maxlength="20" [clearInput]="true"> </ion-input>

      <div class="contenedor-input">
        <ion-input [(ngModel)]="clave" label="contraseña" type="{{sw?'text':'password'}}" labelPlacement="floating"
          fill="outline" [clearInput]="true"></ion-input>

        <ion-button class="ojo" fill="clear" (click)="sw=!sw">
          <ion-icon slot="icon-only" name="{{sw ? 'eye-off' : 'eye'}}"></ion-icon>
        </ion-button>
      </div>

      <ion-button expand="block" (click)="login()">Iniciar sesión</ion-button>

    </div>

  </div>
</ion-content>