#contenedor {
  background-color: var(--fondo);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  min-height: 100vh;
  width: 80%;
  height: 80%;
}

.fondo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--fondo-borde);
}
.fondo{
  transition: background-color 1s ease,color 1s ease ;
}
#tema-claro {
  position: absolute;
  top: 20px;   
  right: 170px; //Ajusta la distancia para colocar el icono más a la derecha o a la izquierda, me rendí con intentar moverlo 
  color: var(--icono-tema);
  font-size: 1.5rem;
}




ion-input {
  width: 100%;
  max-width: 400px;
  margin: 10px 0;
  background-color: var(--fondo-input);
  color: var(--texto-input);
}

.contenedor-input {
  
  width: 100%;
  max-width: 400px;
  position: relative; /* Posiciona el botón del ojo cerca del input */
  
}

.ojo {
  position: absolute;
  left: 360px; /* Alinea el botón a la derecha del campo de contraseña */
  top: 50%; /* Centra el botón verticalmente con el campo de contraseña */
  transform: translateY(-50%); /* Asegura el centrado vertical */
  ion-icon{
    color:var(--texto-input)!important;
  }
}

.iniciar{
  ion-button{
    color:black;
    background: #f0cc00 ;
  }
}

ion-button[type="submit"] {
  margin-top: 20px;
  background-color: var(--fondo-button);
}
.seccion {
  background-color: var(--seccion);
  border-radius: 10px;
  padding: 20px; /* Añadir espacio interno */
  width: 100%;
  max-width: 500px; /* Aumentar el tamaño de la sección */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Añadir una sombra suave para mejorar la apariencia */
}
#contenedor,h1,p{
    transition: background-color .5s ease,color .5s ease ;
}
.ion-valid.sc-ion-input-md-h {
  --highlight-color: var(--ion-color-success:);
}

/*               Modal              */

.contenedor-modal{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  row-gap: 20vh;
  
}