#tema-claro {
  position: absolute;
  top: 20px;   
  right: 12%; //Ajusta la distancia para colocar el icono más a la derecha o a la izquierda, me rendí con intentar moverlo, por alguna razon solo funciona bien en el asistencia
  color: var(--icono-tema);
  font-size: 1.5rem;
}
.fondo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--fondo-borde);
}

.contenedor {
  background-color: var(--fondo);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  min-height: 100vh;
  width: 80%;
  height: 80%;

  h1 {
    font-size: 3rem;
  }

  ion-icon {
    font-size: 5.5rem;
    color: var(--textos);
  }

  ion-button {
    width: 75%;
    height: 2.5rem;
    border: none;
    outline: none;
    border-radius: 1.25rem;
    text-align: center;
    font-size: 1.1rem;
    --color: black;
    --background: #f0cc00;
  }

  button, input {
    width: 75%;
    height: 2.5rem;
    border: none;
    outline: none;
    border-radius: 1.25rem;
    text-align: center;
    font-size: 1.1rem;
  }

  input {
    background-color: var(--fondo-input);
  }

  button {
    background-color: var(--fondo-button);
  }

  h1, p {
    color: var(--textos);
  }
}
